* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url("banner.jpg") no-repeat center center/cover;
    position: relative;
  }

  /* Dark Overlay */
  /* body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  } */



  h1 {
    font-size: 3rem;
    font-weight: bold;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.2rem;
    margin: 20px 0;
  }

.signinContainer {
  margin-top: 60px;
}

.signinLink {
  text-decoration: none;
  color: white;
  /* font-family: 'Courier New', monospace; */
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  background-color: rgba(85, 88, 97, 0.644);
  cursor: pointer;
  border-radius: 1rem;
}

@media (max-width: 768px) {

.signinContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
  .signinLink {
  font-size: 0.8rem;
  margin: 10px;
  }
}